body {
  background: #014b47;
  font-size: 16px;
}

form {
  translate: 0 calc(100vh / 2 - 50%);
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  max-width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

input,
select {
  appearance: none;
  outline: none;
  border: 1px solid gray;
  padding: 4px 8px;
  font-size: 80%;
}

label {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.25rem;
}

label:has(+ input:required):after {
  content: "*";
}

input:valid,
select:valid {
  border-color: #00ff62;
}

input:invalid,
select:invalid {
  border-color: #ff0022;
}

button {
  margin-top: 32px;
  background-color: #014b47;
  color: #fff;
}
